USE [master]
GO
/****** Object:  Database [MHFU]    Script Date: 12/09/2013 09:52:38 ******/
CREATE DATABASE [MHFU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MHFU', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MHFU.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MHFU_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MHFU_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MHFU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MHFU]
GO
/****** Object:  Schema [armour]    Script Date: 12/09/2013 09:52:40 ******/
CREATE SCHEMA [armour]
GO
/****** Object:  Schema [items]    Script Date: 12/09/2013 09:52:40 ******/
CREATE SCHEMA [items]
GO
/****** Object:  Schema [monsters]    Script Date: 12/09/2013 09:52:40 ******/
CREATE SCHEMA [monsters]
GO
/****** Object:  Schema [skills]    Script Date: 12/09/2013 09:52:40 ******/
CREATE SCHEMA [skills]
GO
/****** Object:  Schema [weapons]    Script Date: 12/09/2013 09:52:40 ******/
CREATE SCHEMA [weapons]
GO
/****** Object:  Table [armour].[Armor]    Script Date: 12/09/2013 09:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [armour].[Armor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Icon] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Slots] [tinyint] NULL,
	[Gender] [nvarchar](8) NULL,
	[Defense] [tinyint] NULL,
	[Max Defense] [tinyint] NULL,
	[Fire Resistance] [smallint] NULL,
	[Water Resistance] [smallint] NULL,
	[Ice Resistance] [smallint] NULL,
	[Thunder Resistance] [smallint] NULL,
	[Dragon Resistance] [smallint] NULL,
	[Cost] [int] NULL,
 CONSTRAINT [PK_Armor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [armour].[Armor Ingredient]    Script Date: 12/09/2013 09:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [armour].[Armor Ingredient](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Armor] [int] NOT NULL,
	[Ingredient] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [armour].[Armour Skill]    Script Date: 12/09/2013 09:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [armour].[Armour Skill](
	[ID] [int] NOT NULL,
	[Armour] [int] NOT NULL,
	[Skill] [int] NOT NULL,
	[Points] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Location]    Script Date: 12/09/2013 09:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nvarchar](16) NOT NULL,
 CONSTRAINT [PK_Area] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rank]    Script Date: 12/09/2013 09:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rank](
	[ID] [tinyint] NOT NULL,
	[Name] [nchar](9) NOT NULL,
 CONSTRAINT [PK_Rank] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [items].[Combo]    Script Date: 12/09/2013 09:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [items].[Combo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Result] [int] NOT NULL,
	[ItemA] [int] NOT NULL,
	[ItemB] [int] NOT NULL,
	[Success] [tinyint] NOT NULL,
	[Quantity] [varchar](3) NOT NULL,
	[Alchemy] [bit] NOT NULL,
 CONSTRAINT [PK_Combo List] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [items].[Item]    Script Date: 12/09/2013 09:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [items].[Item](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](17) NOT NULL,
	[Rarity] [tinyint] NOT NULL,
	[Icon] [varchar](17) NOT NULL,
	[Buy] [bigint] NULL,
	[Sell] [bigint] NULL,
	[Quest Only] [bit] NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [items].[Trenya]    Script Date: 12/09/2013 09:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [items].[Trenya](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Location] [int] NULL,
	[Points] [int] NULL,
	[General] [nvarchar](max) NULL,
	[Mineral] [nvarchar](max) NULL,
	[Fish] [nvarchar](max) NULL,
	[Insect] [nvarchar](max) NULL,
	[Unique] [nvarchar](max) NULL,
	[Monster] [nvarchar](max) NULL,
	[Jewel] [nvarchar](max) NULL,
 CONSTRAINT [PK_Trenya] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [items].[Veggie Elder]    Script Date: 12/09/2013 09:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [items].[Veggie Elder](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Area] [int] NOT NULL,
	[Trade] [int] NOT NULL,
	[Common] [int] NOT NULL,
	[Rare] [int] NOT NULL,
 CONSTRAINT [PK_Veggie Elder] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [items].[Weapon]    Script Date: 12/09/2013 09:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [items].[Weapon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Weapon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [monsters].[Carve]    Script Date: 12/09/2013 09:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [monsters].[Carve](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Monster] [int] NOT NULL,
	[Item] [int] NOT NULL,
	[Source] [nvarchar](50) NOT NULL,
	[Quantity] [tinyint] NOT NULL,
	[Rate] [tinyint] NOT NULL,
	[Rank] [tinyint] NOT NULL,
 CONSTRAINT [PK_Carve] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [monsters].[Monster]    Script Date: 12/09/2013 09:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [monsters].[Monster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](22) NOT NULL,
	[Species] [int] NOT NULL,
	[Min Length] [real] NULL,
	[Max Length] [real] NULL,
 CONSTRAINT [PK_Monster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [monsters].[Type]    Script Date: 12/09/2013 09:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [monsters].[Type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Species] [varchar](14) NOT NULL,
 CONSTRAINT [PK_Species] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [skills].[Decoration]    Script Date: 12/09/2013 09:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [skills].[Decoration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Item] [int] NOT NULL,
	[Slots] [tinyint] NOT NULL,
	[Skill A] [int] NOT NULL,
	[Skill A Points] [smallint] NOT NULL,
	[Skill B] [int] NULL,
	[Skill B Points] [smallint] NULL,
 CONSTRAINT [PK_Decoration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [skills].[Decoration Ingredient]    Script Date: 12/09/2013 09:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [skills].[Decoration Ingredient](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Decoration] [int] NOT NULL,
	[Ingredient] [int] NOT NULL,
	[Quantity] [smallint] NOT NULL,
	[Alt] [bit] NOT NULL,
 CONSTRAINT [PK_Decoration Ingredient] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [skills].[Skill]    Script Date: 12/09/2013 09:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [skills].[Skill](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tree] [int] NOT NULL,
	[Skill] [nvarchar](20) NULL,
	[Points] [smallint] NULL,
 CONSTRAINT [PK_Skill] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [skills].[Skill Tree]    Script Date: 12/09/2013 09:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [skills].[Skill Tree](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tree] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Skill_Tree] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([ID], [Location]) VALUES (1, N'Snowy Mountains')
INSERT [dbo].[Location] ([ID], [Location]) VALUES (2, N'Jungle')
INSERT [dbo].[Location] ([ID], [Location]) VALUES (3, N'Desert')
SET IDENTITY_INSERT [dbo].[Location] OFF
INSERT [dbo].[Rank] ([ID], [Name]) VALUES (0, N'All Ranks')
INSERT [dbo].[Rank] ([ID], [Name]) VALUES (1, N'Low Rank ')
INSERT [dbo].[Rank] ([ID], [Name]) VALUES (2, N'High Rank')
SET IDENTITY_INSERT [items].[Combo] ON 

INSERT [items].[Combo] ([ID], [Result], [ItemA], [ItemB], [Success], [Quantity], [Alchemy]) VALUES (1, 7, 160, 174, 95, N'1', 0)
INSERT [items].[Combo] ([ID], [Result], [ItemA], [ItemB], [Success], [Quantity], [Alchemy]) VALUES (2, 8, 7, 158, 90, N'1', 0)
INSERT [items].[Combo] ([ID], [Result], [ItemA], [ItemB], [Success], [Quantity], [Alchemy]) VALUES (3, 9, 174, 247, 90, N'1', 0)
GO
SET IDENTITY_INSERT [items].[Combo] OFF
SET IDENTITY_INSERT [items].[Item] ON 

INSERT [items].[Item] ([ID], [Name], [Rarity], [Icon], [Buy], [Sell], [Quest Only]) VALUES (1, N'Book of Combos 1', 4, N'Grey Book', 1000, 100, 0)
INSERT [items].[Item] ([ID], [Name], [Rarity], [Icon], [Buy], [Sell], [Quest Only]) VALUES (2, N'Book of Combos 2', 4, N'Grey Book', 2000, 200, 0)
INSERT [items].[Item] ([ID], [Name], [Rarity], [Icon], [Buy], [Sell], [Quest Only]) VALUES (3, N'Book of Combos 3', 4, N'White Book', 5000, 500, 0)
GO
SET IDENTITY_INSERT [items].[Item] OFF
SET IDENTITY_INSERT [items].[Trenya] ON 

INSERT [items].[Trenya] ([ID], [Location], [Points], [General], [Mineral], [Fish], [Insect], [Unique], [Monster], [Jewel]) VALUES (1, 1, 200, N'Empty Bottle, Frozen Berry, Honey, Net, Paintball, Raw Meat, Tranquilizer, Trap Tool', N'Ice Crystal', N'None', N'Flashbug', N'None', N'Brute Bone, Bullfango Pelt, Screamer, Sm Monsterbone', N'Cool Breeze')
INSERT [items].[Trenya] ([ID], [Location], [Points], [General], [Mineral], [Fish], [Insect], [Unique], [Monster], [Jewel]) VALUES (2, 1, 300, N'Honey, Net, Sm Bone Husk, Trap Tool', N'Armor Sphere, Machalite Ore, Dragonite Ore', N'None', N'Flashbug', N'Dragonmoss, Dragonwood', N'Giant Bone, Lg Monsterbone, Electro Sac, Pale Extract, Screamer, Sm Monsterbone, Vespoid Shell', N'Cool Breeze, Snowblower')
INSERT [items].[Trenya] ([ID], [Location], [Points], [General], [Mineral], [Fish], [Insect], [Unique], [Monster], [Jewel]) VALUES (3, 1, 500, N'Flute, Net, Trap Tool', N'Armor Sphere, Armor Sphere+', N'Small Goldenfish', N'Flashbug', N'Dragonmoss', N'Blango Pelt, Electro Sac, Giaprey Scale, Lg Monsterbone, Pale Extract', N'Hardball, Sniper')
SET IDENTITY_INSERT [items].[Trenya] OFF
SET IDENTITY_INSERT [items].[Veggie Elder] ON 

INSERT [items].[Veggie Elder] ([ID], [Area], [Trade], [Common], [Rare]) VALUES (1, 1, 867, 7, 8)
INSERT [items].[Veggie Elder] ([ID], [Area], [Trade], [Common], [Rare]) VALUES (2, 1, 868, 7, 8)
INSERT [items].[Veggie Elder] ([ID], [Area], [Trade], [Common], [Rare]) VALUES (3, 1, 871, 872, 872)
GO
SET IDENTITY_INSERT [items].[Veggie Elder] OFF
SET IDENTITY_INSERT [monsters].[Carve] ON 

INSERT [monsters].[Carve] ([ID], [Monster], [Item], [Source], [Quantity], [Rate], [Rank]) VALUES (1, 2, 302, N'Drop', 1, 72, 1)
INSERT [monsters].[Carve] ([ID], [Monster], [Item], [Source], [Quantity], [Rate], [Rank]) VALUES (2, 2, 234, N'Drop', 1, 15, 1)
INSERT [monsters].[Carve] ([ID], [Monster], [Item], [Source], [Quantity], [Rate], [Rank]) VALUES (3, 2, 166, N'Drop', 1, 8, 1)
GO
SET IDENTITY_INSERT [monsters].[Carve] OFF
SET IDENTITY_INSERT [monsters].[Monster] ON 

INSERT [monsters].[Monster] ([ID], [Name], [Species], [Min Length], [Max Length]) VALUES (1, N'Felyne', 1, NULL, NULL)
INSERT [monsters].[Monster] ([ID], [Name], [Species], [Min Length], [Max Length]) VALUES (2, N'Melynx', 1, NULL, NULL)
INSERT [monsters].[Monster] ([ID], [Name], [Species], [Min Length], [Max Length]) VALUES (3, N'Shakalaka', 1, NULL, NULL)
SET IDENTITY_INSERT [monsters].[Monster] OFF
SET IDENTITY_INSERT [monsters].[Type] ON 

INSERT [monsters].[Type] ([ID], [Species]) VALUES (1, N'Lynian')
INSERT [monsters].[Type] ([ID], [Species]) VALUES (2, N'Neopteron')
INSERT [monsters].[Type] ([ID], [Species]) VALUES (3, N'Herbivore')
SET IDENTITY_INSERT [monsters].[Type] OFF
SET IDENTITY_INSERT [skills].[Decoration] ON 

INSERT [skills].[Decoration] ([ID], [Item], [Slots], [Skill A], [Skill A Points], [Skill B], [Skill B Points]) VALUES (1, 967, 1, 1, 1, NULL, NULL)
INSERT [skills].[Decoration] ([ID], [Item], [Slots], [Skill A], [Skill A Points], [Skill B], [Skill B Points]) VALUES (2, 1047, 2, 1, 3, 2, -1)
INSERT [skills].[Decoration] ([ID], [Item], [Slots], [Skill A], [Skill A Points], [Skill B], [Skill B Points]) VALUES (3, 1081, 3, 1, 5, 2, -1)
GO
SET IDENTITY_INSERT [skills].[Decoration] OFF
SET IDENTITY_INSERT [skills].[Decoration Ingredient] ON 

INSERT [skills].[Decoration Ingredient] ([ID], [Decoration], [Ingredient], [Quantity], [Alt]) VALUES (1, 1, 922, 1, 0)
INSERT [skills].[Decoration Ingredient] ([ID], [Decoration], [Ingredient], [Quantity], [Alt]) VALUES (2, 1, 183, 1, 0)
INSERT [skills].[Decoration Ingredient] ([ID], [Decoration], [Ingredient], [Quantity], [Alt]) VALUES (3, 1, 379, 1, 0)
GO
SET IDENTITY_INSERT [skills].[Decoration Ingredient] OFF
SET IDENTITY_INSERT [skills].[Skill] ON 

INSERT [skills].[Skill] ([ID], [Tree], [Skill], [Points]) VALUES (1, 1, N'Attack Up (Large)   ', 20)
INSERT [skills].[Skill] ([ID], [Tree], [Skill], [Points]) VALUES (2, 1, N'Attack Up (Medium)  ', 15)
INSERT [skills].[Skill] ([ID], [Tree], [Skill], [Points]) VALUES (3, 1, N'Attack Up (Small)   ', 10)
GO
SET IDENTITY_INSERT [skills].[Skill] OFF
SET IDENTITY_INSERT [skills].[Skill Tree] ON 

INSERT [skills].[Skill Tree] ([ID], [Tree]) VALUES (1, N'Attack')
INSERT [skills].[Skill Tree] ([ID], [Tree]) VALUES (2, N'Defense')
INSERT [skills].[Skill Tree] ([ID], [Tree]) VALUES (3, N'Faint')
GO
SET IDENTITY_INSERT [skills].[Skill Tree] OFF
ALTER TABLE [items].[Combo] ADD  CONSTRAINT [DF_Combo_Alchemy]  DEFAULT ((0)) FOR [Alchemy]
GO
ALTER TABLE [items].[Item] ADD  CONSTRAINT [DF_Item_Quest Only]  DEFAULT ((0)) FOR [Quest Only]
GO
ALTER TABLE [skills].[Decoration Ingredient] ADD  CONSTRAINT [DF_Decoration Ingredient_Alt]  DEFAULT ((0)) FOR [Alt]
GO
ALTER TABLE [armour].[Armor Ingredient]  WITH CHECK ADD  CONSTRAINT [FK_Armour] FOREIGN KEY([Armor])
REFERENCES [armour].[Armor] ([ID])
GO
ALTER TABLE [armour].[Armor Ingredient] CHECK CONSTRAINT [FK_Armour]
GO
ALTER TABLE [armour].[Armor Ingredient]  WITH CHECK ADD  CONSTRAINT [FK_Ingredient] FOREIGN KEY([Ingredient])
REFERENCES [items].[Item] ([ID])
GO
ALTER TABLE [armour].[Armor Ingredient] CHECK CONSTRAINT [FK_Ingredient]
GO
ALTER TABLE [armour].[Armour Skill]  WITH CHECK ADD  CONSTRAINT [FK_Armour Skill_Armour] FOREIGN KEY([Armour])
REFERENCES [armour].[Armor] ([ID])
GO
ALTER TABLE [armour].[Armour Skill] CHECK CONSTRAINT [FK_Armour Skill_Armour]
GO
ALTER TABLE [armour].[Armour Skill]  WITH CHECK ADD  CONSTRAINT [FK_Armour Skill_Skill] FOREIGN KEY([Skill])
REFERENCES [skills].[Skill] ([ID])
GO
ALTER TABLE [armour].[Armour Skill] CHECK CONSTRAINT [FK_Armour Skill_Skill]
GO
ALTER TABLE [items].[Combo]  WITH NOCHECK ADD  CONSTRAINT [FK_Combo_Item] FOREIGN KEY([Result])
REFERENCES [items].[Item] ([ID])
NOT FOR REPLICATION 
GO
ALTER TABLE [items].[Combo] NOCHECK CONSTRAINT [FK_Combo_Item]
GO
ALTER TABLE [items].[Combo]  WITH NOCHECK ADD  CONSTRAINT [FK_Combo_Item1] FOREIGN KEY([ItemA])
REFERENCES [items].[Item] ([ID])
GO
ALTER TABLE [items].[Combo] NOCHECK CONSTRAINT [FK_Combo_Item1]
GO
ALTER TABLE [items].[Combo]  WITH NOCHECK ADD  CONSTRAINT [FK_Combo_Item2] FOREIGN KEY([ItemB])
REFERENCES [items].[Item] ([ID])
GO
ALTER TABLE [items].[Combo] NOCHECK CONSTRAINT [FK_Combo_Item2]
GO
ALTER TABLE [items].[Trenya]  WITH NOCHECK ADD  CONSTRAINT [FK_Trenya_Location] FOREIGN KEY([Location])
REFERENCES [dbo].[Location] ([ID])
GO
ALTER TABLE [items].[Trenya] NOCHECK CONSTRAINT [FK_Trenya_Location]
GO
ALTER TABLE [items].[Veggie Elder]  WITH CHECK ADD  CONSTRAINT [CommonTrade] FOREIGN KEY([Common])
REFERENCES [items].[Item] ([ID])
GO
ALTER TABLE [items].[Veggie Elder] CHECK CONSTRAINT [CommonTrade]
GO
ALTER TABLE [items].[Veggie Elder]  WITH CHECK ADD  CONSTRAINT [Location] FOREIGN KEY([Area])
REFERENCES [dbo].[Location] ([ID])
GO
ALTER TABLE [items].[Veggie Elder] CHECK CONSTRAINT [Location]
GO
ALTER TABLE [items].[Veggie Elder]  WITH CHECK ADD  CONSTRAINT [RareTrade] FOREIGN KEY([Rare])
REFERENCES [items].[Item] ([ID])
GO
ALTER TABLE [items].[Veggie Elder] CHECK CONSTRAINT [RareTrade]
GO
ALTER TABLE [items].[Veggie Elder]  WITH CHECK ADD  CONSTRAINT [Trade] FOREIGN KEY([Trade])
REFERENCES [items].[Item] ([ID])
GO
ALTER TABLE [items].[Veggie Elder] CHECK CONSTRAINT [Trade]
GO
ALTER TABLE [monsters].[Carve]  WITH CHECK ADD  CONSTRAINT [FK_Carve_Monster1] FOREIGN KEY([Monster])
REFERENCES [monsters].[Monster] ([ID])
GO
ALTER TABLE [monsters].[Carve] CHECK CONSTRAINT [FK_Carve_Monster1]
GO
ALTER TABLE [monsters].[Carve]  WITH NOCHECK ADD  CONSTRAINT [Item] FOREIGN KEY([Item])
REFERENCES [items].[Item] ([ID])
GO
ALTER TABLE [monsters].[Carve] NOCHECK CONSTRAINT [Item]
GO
ALTER TABLE [monsters].[Carve]  WITH CHECK ADD  CONSTRAINT [Rank] FOREIGN KEY([Rank])
REFERENCES [dbo].[Rank] ([ID])
GO
ALTER TABLE [monsters].[Carve] CHECK CONSTRAINT [Rank]
GO
ALTER TABLE [monsters].[Monster]  WITH CHECK ADD  CONSTRAINT [FK_Monster_Type] FOREIGN KEY([Species])
REFERENCES [monsters].[Type] ([ID])
GO
ALTER TABLE [monsters].[Monster] CHECK CONSTRAINT [FK_Monster_Type]
GO
ALTER TABLE [skills].[Decoration]  WITH CHECK ADD  CONSTRAINT [FK_Decoration_Item] FOREIGN KEY([Item])
REFERENCES [items].[Item] ([ID])
GO
ALTER TABLE [skills].[Decoration] CHECK CONSTRAINT [FK_Decoration_Item]
GO
ALTER TABLE [skills].[Decoration]  WITH NOCHECK ADD  CONSTRAINT [FK_Decoration_SkillA] FOREIGN KEY([Skill A])
REFERENCES [skills].[Skill Tree] ([ID])
GO
ALTER TABLE [skills].[Decoration] NOCHECK CONSTRAINT [FK_Decoration_SkillA]
GO
ALTER TABLE [skills].[Decoration]  WITH NOCHECK ADD  CONSTRAINT [FK_Decoration_SkillB] FOREIGN KEY([Skill B])
REFERENCES [skills].[Skill Tree] ([ID])
GO
ALTER TABLE [skills].[Decoration] NOCHECK CONSTRAINT [FK_Decoration_SkillB]
GO
ALTER TABLE [skills].[Decoration Ingredient]  WITH NOCHECK ADD  CONSTRAINT [FK_Decoration Ingredient_Decoration] FOREIGN KEY([Decoration])
REFERENCES [skills].[Decoration] ([ID])
GO
ALTER TABLE [skills].[Decoration Ingredient] NOCHECK CONSTRAINT [FK_Decoration Ingredient_Decoration]
GO
ALTER TABLE [skills].[Decoration Ingredient]  WITH NOCHECK ADD  CONSTRAINT [FK_Decoration Ingredient_Item] FOREIGN KEY([Ingredient])
REFERENCES [items].[Item] ([ID])
GO
ALTER TABLE [skills].[Decoration Ingredient] NOCHECK CONSTRAINT [FK_Decoration Ingredient_Item]
GO
ALTER TABLE [skills].[Skill]  WITH NOCHECK ADD  CONSTRAINT [FK_Skill's_Skill_Tree] FOREIGN KEY([Tree])
REFERENCES [skills].[Skill Tree] ([ID])
GO
ALTER TABLE [skills].[Skill] NOCHECK CONSTRAINT [FK_Skill's_Skill_Tree]
GO
USE [master]
GO
